@import "../../styles/variables"

.body
  padding: 0 2rem 1rem
  position: relative

.inputContainer
  margin: 1rem 0

  @include desktop
    margin: 3rem 0 1rem

.lettersContainer
  margin-bottom: 2rem

  @include desktop
    margin-bottom: 4rem

.speakContainer
  position: absolute
  left: 50%
  transform: translate(-50%, -1rem)

.speak
  composes: button from "../button/Button.module.sass"
  background: $secondaryColor
  border-radius: 50%
  height: 4rem
  padding: 0
  width: 4rem

  &:hover:not(:disabled)
    background: lighten($secondaryColor, 10%)
