@import "../../styles/variables"

.activity
  background: $white
  border-radius: 0.25rem
  box-shadow: -10px 10px 20px transparentize($shadowColor, 0.05)
  margin: 0 auto
  max-width: 640px
  width: 100%
  padding-top: 3rem
  text-align: center
