@import "../../styles/variables"

.container
  display: inline-block
  margin: 0 1px 3px 0
  position: relative

  @include desktop
    margin: 0 0.25rem 0.25rem 0

  &::after
    font-size: $inputFontSize
    position: absolute
    left: 50%
    top: -1rem
    text-transform: capitalize
    transform: translateX(-50%)

    @include desktop
      font-size: $desktopInputFontSize
      top: -1.5rem

.containerError
  &::after
    content: attr(data-char)

.input
  border: 2px solid $gray
  border-radius: 0.25rem
  color: $textColor
  display: inline-block
  font-size: $inputFontSize
  line-height: $inputSize
  outline: 0
  padding: 0
  text-align: center
  text-transform: capitalize
  width: $inputSize
  -webkit-appearance: none

  &:focus
    border-color: $outlineColor
    box-shadow: 0 0 2px transparentize($outlineColor, 0.4)

  @include desktop
    font-size: $desktopInputFontSize
    line-height: $desktopInputSize
    padding: 0.5rem
    width: $desktopInputSize

.inputError
  border-color: $borderColorError
  color: $colorError
  text-decoration: line-through
  animation-name: buzz-out
  animation-duration: 1s
  animation-timing-function: linear
  animation-iteration-count: 1

  &:focus
    border-color: $borderColorError
    box-shadow: none

.inputSuccess
  border-color: $borderColorSuccess
  color: $colorSuccess

  &:focus
    border-color: $borderColorSuccess
    box-shadow: none

@keyframes buzz-out
  10%
    transform: translateX(4px) rotate(3deg)

  20%
    transform: translateX(-4px) rotate(-3deg)

  30%
    transform: translateX(4px) rotate(3deg)

  40%
    transform: translateX(-4px) rotate(-3deg)

  50%
    transform: translateX(3px) rotate(2deg)

  60%
    transform: translateX(-3px) rotate(-2deg)

  70%
    transform: translateX(3px) rotate(2deg)

  80%
    transform: translateX(-3px) rotate(-2deg)

  90%
    transform: translateX(1px) rotate(0)

  100%
    transform: translateX(-1px) rotate(0)
