$whiteColor: #ffffff
$shadowColor: rgba(0, 0, 0, .15)
$buttonBorder: #a5b3c0

.activity
  background: $whiteColor
  border-radius: 0.25rem
  box-shadow: 0 2px 8px $shadowColor
  margin: 0 auto
  min-width: 320px
  padding: 3rem
  text-align: center

.button
  border: 1px solid $buttonBorder
  border-radius: 50%
  height: 4rem
  width: 4rem
  outline: none
