$gray: hsl(210, 90%, 80%)

.container
  background: $gray
  border-radius: 0.25rem
  display: inline-block
  margin-right: 0.25rem
  padding: 0.5rem

.letter
  display: inline-block
  line-height: 2rem
  width: 2rem
