@import "../../styles/variables"

.container
  background: $letter
  border: 2px solid $letter
  border-radius: 0.25rem
  box-shadow: 0 4px 8px $shadowColor
  color: $white
  cursor: pointer
  display: inline-block
  margin: 0 1px 3px 0
  transition: all 0.3s $easeInOut

  @include desktop
    padding: 0.5rem
    margin: 0 0.25rem 0.25rem 0

.containerUnavailable
  composes: container
  background: transparent
  border: 2px dashed $gray
  box-shadow: none
  cursor: default

.char
  display: inline-block
  line-height: 2rem
  text-transform: capitalize
  transition: all 0.3s $easeInOut
  width: 2rem

.charUnavailable
  composes: char
  color: $white
  pointer-events: none
